/** @format */

@use "../../global/" as g;
@use "sass:math";

.mainvisual__item{
    position: relative;
}

.mainvisual__item img{
    width: 100%;
    margin-top: 80px;
}

.mainvisual__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: rgba(251,251,251,0.55);
    font-size: 40px;
    color: g.$maincolor;
    font-weight: bold;
    padding: 20px 80px;
    text-align: center;
    line-height: 1.5;
    @include g.breakPoint("tab"){
        font-size: 40px;
        padding: 0px 80px;
        }
}

.mainvisual__p {
    font-size: 48px;
    @include g.breakPoint("tab"){
      font-size: 30px;
      }
}

// works

#works{
    text-align: center;
    max-width: 1080px;
    margin: auto;
    padding-top: 120px;
}

.works__title {
    font-size: 32px;
    font-weight: bold;
    color: g.$accentcolor;
    margin-top: 8px;
}

.works__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.splide__slide img {
    height: 80%;
    width: 100%;
    opacity: .3;
    transform: scale(.8);
    transition: .7s;
    @include g.breakPoint("tab"){
        width: 80%;
        height: 80%;
      }
  }

  .splide__slide p {
    opacity: .3;
    font-size: 10px;
}

  .splide__slide.is-active img{
    opacity: 1;
    transform: scale(1); /* 中央のスライドは小さくしない */
    z-index: 1;
  }

  .splide__slide.is-active p{
    font-size: 12px;
    margin-top: 8px;
    opacity: 1;
  }


  .splide__pagination {
    bottom: auto;
    position: absolute;
    
  }

  .splide__arrow{
    background: g.$maincolor;
  }

  
  .splide__pagination__page.is-active{
    color: g.$maincolor;
  }

  .your-class-page {
    background-color: g.$maincolor;
    opacity: .5;
    height: 8px;
    transition: .5s all;
    width: 8px;
  }
  /* 現在表示されているページネーションのスタイル */
  .your-class-page.is-active {
    background-color:g.$maincolor;
    opacity: 1;
  }

  /* ページネーション間の余白 */
  .your-class-pagination li {
    margin-left: 5px;
    margin-right: 5px;
  }



  .works__button {
    margin-top: 56px;
    display: inline-block;
    border: 3px solid g.$maincolor;
    color: g.$accentcolor;
    padding: 16px 60px;
    letter-spacing: 3px;
}

.works__button:hover{
    background-color: g.$maincolor;
    color: g.$basecolor;
    transition: 0.7s;
}

// Service

#service{
    text-align: center;
    max-width: 1080px;
    margin: auto;
    padding-top:120px;
}

.service__wapper{
    margin: 0 50px;
}

.service__title {
    font-size: 32px;
    font-weight: bold;
    color: g.$accentcolor;
    margin-top: 8px;
}

.service__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.service__list {
    display: flex;
    gap: 28px;

    @include g.breakPoint("tab"){
        flex-direction: column;
      }
}

.service__item {
    border: 1px solid g.$maincolor;
    padding: 40px;
    width: 33%;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
    @include g.breakPoint("tab"){
        width: 100%;
      }
}

  
  /* 時間差フェードで付与するクラス */
  .service__item.fade1{
    transition-delay: .5s;
  }

  .service__item.fade2{
    transition-delay: 1s;
  }
  
  /* フェードしたい要素に付与するクラス */
  .scrolled {
    opacity: 1;
    transform: translateY(0px);
  }
  

.service__item--title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    color: g.$accentcolor;
}

.service__item--text {
    margin-top: 24px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: left;
}

.service__wapper{
    margin: 0 50px;
}

.service__main{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.service__button {
    margin-top: 56px;
    display: inline-block;
    border: 3px solid g.$maincolor;
    color: g.$accentcolor;
    padding: 16px 60px;
    letter-spacing: 3px;
}

.service__button:hover{
    background-color: g.$maincolor;
    color: g.$basecolor;
    transition: 0.7s;
}

// About

#about{
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding-top:120px;
}

.about__title {
    font-size: 32px;
    font-weight: bold;
    color: g.$accentcolor;
    margin-top: 8px;
}

.about__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.about__list {
    display: flex;
    gap: 40px;
    background-color:rgba(85,138,134,0.1);
    padding: 40px;
    border: 1px solid g.$maincolor;
    align-items: center;

    @include g.breakPoint("tab"){
       flex-direction: column;
       padding: 40px 60px;
        justify-content: center;
        align-items: center;
    }
      }



.about__item img {
    width: 250px;
    height: 250px;
    border-radius: 500px;
}

.about__color{
    color: g.$maincolor;
}

.about__item:nth-child(1){
    width: 80%;
}

.about__item{
    @include g.breakPoint("tab"){
        padding: 0px 50px;
        }
}

.about__name {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 16px;
    letter-spacing: 2px;
    @include g.breakPoint("tab"){
       text-align: center;
       }
}

.about__text {
    font-size: 16px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 16px;
    @include g.breakPoint("tab"){
        text-align: center;
        }
}

