@use "../../global/"  as g;

#list{
    text-align: center;
    max-width: 1080px;
    margin: auto;
    padding-top: 200px;
}

.list__title {
    font-size: 32px;
    font-weight: bold;
    color: g.$accentcolor;
}

.list__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
}

.list__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    @include g.breakPoint(tab){
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0px;
      }

      @include g.breakPoint(sp){
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
      }
    }

    .list__content--item:hover{
        opacity: .6;
        transition: all 0.3s;
    }


    .list__content--text {
        margin-top: 8px;
        @include g.breakPoint(sp){
            margin-bottom: 10px;
          }
    }

    .pic-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        background-color: #fefefe;
        gap: 1rem;
    }
    
    .pagenation {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        text-align: center;
        padding-top: 16px;
    }
    
    
    .pagenation a {
        display: inline-block;
        color: g.$accentcolor;
        border-radius: 50%;
        border: 1px solid #dedede;
        text-decoration: none;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
    
    
    .pagenation i {
        line-height: 40px;
    }
    
    .pagenation .active a {
        background-color: g.$maincolor;
        color: g.$basecolor;
    }
    
    .pagenation a:hover {
        background-color:rgba(85,138,134,0.3);
        color: g.$basecolor;
        transition: all .3s;
    }
    
    .pagenation .disabled a {
        pointer-events: none;
        color: #ccc;
    }
    
    .pagenation .disabled a:hover {
        background-color: initial;
        color: #ccc;
    }
