@charset "UTF-8";
/** @format */
body {
  color: #0F0A01;
}

/** @format */
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

#price {
  text-align: center;
  max-width: 1080px;
  margin: auto;
  padding-top: 200px;
}

.price__title {
  font-size: 32px;
  font-weight: bold;
  color: #0F0A01;
}

.price__subtitle {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 40px;
}

.price__item--title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.price__item--content {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 48px;
}
@media screen and (max-width: 980px) {
  .price__item--content {
    margin: 0px 50px;
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.price__item--content--left {
  width: 48%;
  text-align: left;
  position: relative;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
@media screen and (max-width: 980px) {
  .price__item--content--left {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 40px;
    line-height: 1.6;
  }
}

.price__item--content--left::after {
  position: absolute;
  top: 0;
  left: 100%;
  margin: 0 1rem;
  content: "";
  width: 3px;
  height: 100%;
  background-color: #558A86;
}
@media screen and (max-width: 980px) {
  .price__item--content--left::after {
    display: none;
  }
}

.price__item--content--right {
  width: 48%;
  margin: 0;
  position: relative;
}
@media screen and (max-width: 980px) {
  .price__item--content--right {
    width: 100%;
    margin-top: 16px;
  }
}

@media screen and (max-width: 980px) {
  .price__item--content--right::before {
    position: absolute;
    top: -130px;
    left: 50%;
    /* margin: 0 1rem; */
    content: "";
    width: 80%;
    height: 100%;
    /* background-color: #558A86; */
    border-bottom: 5px solid #558A86;
    transform: translateX(-50%);
  }
}

.price__item--list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

#flow {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: rgba(85, 138, 134, 0.1);
  border: 1px solid #558A86;
}

.flow__wapper {
  max-width: 1080px;
  margin: auto;
}

.flow__title {
  font-size: 32px;
  font-weight: bold;
  color: #0F0A01;
}

.flow__subtitle {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 40px;
}

.flow__list {
  margin: 0px 50px;
  display: flex;
  align-items: center;
  margin-bottom: 56px;
  opacity: 0;
  transition: all 1s ease-out;
  transform: translateY(150px);
}
@media screen and (max-width: 767px) {
  .flow__list {
    flex-direction: column;
  }
}

.flow__list.is-active {
  /*要素を表示させる*/
  opacity: 1;
  visibility: visible;
  /*元の位置に戻す*/
  transform: translateY(0);
}

.flow__item--text {
  text-align: left;
  margin-left: 48px;
}
@media screen and (max-width: 767px) {
  .flow__item--text {
    text-align: center;
    margin: 20px;
  }
}

.flow__item--title {
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.flow__item--circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid #558A86;
  align-items: center;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=price.css.map */