@use "../global/" as g;

// contact

#contact{
    text-align: center;
    max-width: 680px;
    margin: auto;
    padding-top:120px;
}

.contact__title {
    font-size: 32px;
    font-weight: bold;
    color: g.$accentcolor;
    margin-top: 8px;
}

.contact__subtitle {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.contact__text {
    font-size: 1.25rem;
    letter-spacing: 2px;
    line-height: 1.5;
    @include g.breakPoint("tab"){
        padding: 0px 20px;
        }
}

.contact__button {
    margin-top: 56px;
    display: inline-block;
    border: 3px solid g.$maincolor;
    color: g.$accentcolor;
    padding: 16px 60px;
    letter-spacing: 3px;
}

.contact__button:hover{
    background-color: g.$maincolor;
    color: g.$basecolor;
    transition: 0.7s;
}

