@use "../../global/"  as g;

#contact__page {
  text-align: center;
  max-width: 1080px;
  margin: auto;
  padding-top: 200px;
}

.contact__wapper {
  margin: 0px 100px;
}
@media screen and (max-width: 767px) {
  .contact__wapper {
    margin: 0px 50px;
  }
}

.contact__container {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  /* margin-bottom: 16px; */
}
